<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
</head>
<body>
    <!-- Footer -->
   <footer class="text-center text-lg-start  text-muted m-2 " style="background-color: black;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom  "
        style="margin-top: 30px;">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span style="color: white;">Team of WEBSOL</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="m">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h3 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>WEBSOL
                    </h3>

                    
                </div>
                <!-- Grid column -->

                <!-- Grid column --> 
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h3 class="text-uppercase fw-bold mb-4" style="color: white;">
                        SUBJECTS
                    </h3>
                    <p style="color: white;">
                        WEBDEVELOPMENT
                    </p>
                    <p style="color: white;">
                      PYTHON
                    <p style="color: white;">
                        JAVA
                    </p>
                    <p style="color: white;">
                        C/C++
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
              
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h3 class="text-uppercase fw-bold mb-4" style="color: white;">ADDRESS</h3>
                    <p style="color: white;"><i class="fas fa-home me-3"></i> OFFICE NO.2,FIRST FLOOR,OPP.ALLAHABAD
                        BANK.RAILWAY ROAD.MODINAGAR</p>
                    <p style="color: white;">
                        <i class="fas fa-envelope me-3"></i>
                        WEBSOL@gmail.com
                    </p>

                    <p style="color: white;"><i class="fas fa-print me-3"></i> M:9837022695
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);" style="color: white;">
        websol
        <a class="text-reset fw-bold"  style="color: white;text-decoration: none;">online classes hub</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->




<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '267099abe33b3375544245d94fc6ababe6ab7aa1';
    window.smartsupp||(function(d) {
      var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
      s=d.getElementsByTagName('script')[0];c=d.createElement('script');
      c.type='text/javascript';c.charset='utf-8';c.async=true;
      c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>



</body>
</html>